hr {
  border: 1px solid #134059;
}
#entiteit {
  border: solid 1px grey;
  border-collapse: collapse;
  text-align: center;
}
td,
th {
  padding: 15px;
  border: solid 1px grey;
}
th {
  color: white;
  background-color: #134059;
}
caption {
  caption-side: bottom;
}
