#entiteit {
  border: solid 1px grey;
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
}
th {
  background-color: darkblue;
  color: white;
  padding: 15px;
}
td {
  border: solid 1px grey;
  border-collapse: collapse;
  padding: 15px;
}
