body {
  background: url(kompas.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: Handlee;
  color: white;
}
.noord {
  position: fixed;
  top: 5px;
  left: 50%;
}
.oost {
  position: fixed;
  top: 50%;
  right: 5px;
}
.zuid {
  position: fixed;
  bottom: 5px;
  right: 50%;
}
.west {
  position: fixed;
  top: 50%;
  left: 5px;
}
